head
  title Registro
  link(rel="stylesheet" href="/styles.css")


body

  h1 Registro
  form(method="POST" action="/api/signup")
    div 
      label(for="usuario") Nombre
      input(type="string" name="usuario" required)
      br
      label(for="contrasena") Contraseña
      input(type="string" name="contrasena" required)
      div 
        input(type="submit")
  a(class='button' href='/api/login') Iniciar sesion